<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="org.gmod.cat.RegionsMapper">  

  <!-- <cache type="org.mybatis.caches.hazelcast.LoggingHazelcastCache"/>
     -->
  
  <select id="locationsMinAndMaxBoundaries" resultType="org.genedb.crawl.model.LocationBoundaries">
    SELECT 
	    
	    min(fmin) as start, 
	    max(fmax) as end 
	    
	FROM feature f
	
	JOIN featureloc fl ON (f.feature_id = fl.feature_id AND fl.srcfeature_id = 
	   (select feature_id from feature where uniqueName = #{region} )  )
	
	WHERE f.type_id in 
	    <foreach item="item" index="index" collection="types" open="(" separator="," close=")"> 
            #{item} 
        </foreach> 
	
	<![CDATA[
		AND (
		    (fl.fmin BETWEEN #{start} AND #{end} ) 
		    OR (fl.fmax BETWEEN #{start} AND #{end} ) 
		    OR ( fl.fmin <= #{start} AND fl.fmax >= #{end} ) 
		)
    ]]>
  </select>
  
  
  <sql id="locations">
    SELECT
    f.uniqueName as uniqueName, 
    type.name as type, 
    fl.fmin, 
    fl.fmax,
    fl.strand,
    fl.phase,
    f.is_obsolete,
    f2.uniquename as parent,
    frt.name as parent_relationship_type,
    fl.is_fmin_partial,
    fl.is_fmax_partial
    
        FROM feature f
    
    JOIN cvterm type ON f.type_id = type.cvterm_id 
    JOIN featureloc fl ON (f.feature_id = fl.feature_id AND fl.srcfeature_id = 
        (select feature_id from feature where uniqueName = #{region} ) )
    
    LEFT OUTER JOIN feature_relationship fr ON f.feature_id = fr.subject_id
    LEFT JOIN feature f2 ON fr.object_id = f2.feature_id 
    LEFT JOIN cvterm frt ON fr.type_id = frt.cvterm_id AND frt.cvterm_id in 
                               (select cvterm_id from cvterm where name in ('part_of', 'derives_from'))  
                               
  </sql>
  
  
  <select id="locationsPaged" resultMap="locations" >
    
    <include refid="locations" />
    
    <if test="exclude != null"> 
        WHERE type.name NOT IN 
        <foreach item="item" index="index" collection="exclude" open="(" separator="," close=")"> 
            #{item} 
        </foreach> 
    </if> 
    
    ORDER BY fl.fmin, fl.fmax
    
    LIMIT #{limit} OFFSET #{offset}
    
  </select>
  
  <select id="locations" resultMap="locations" >
    
    <include refid="locations" />
	
	
	WHERE 
	<![CDATA[
		
		(
		    (fl.fmin BETWEEN #{start} AND #{end} ) 
		    OR (fl.fmax BETWEEN #{start} AND #{end} ) 
		    OR ( fl.fmin <= #{start} AND fl.fmax >= #{end} ) 
		)
		
	]]>
	
	<if test="exclude != null"> 
        AND type.name NOT IN 
        <foreach item="item" index="index" collection="exclude" open="(" separator="," close=")"> 
            #{item} 
        </foreach> 
    </if> 
	    
	ORDER BY fl.fmin, fl.fmax
	
  </select>
  
  <resultMap type="org.genedb.crawl.model.LocatedFeature" id="locations">
    <result property="uniqueName" column="uniqueName"/>
    <result property="isObsolete" column="is_obsolete"/>
    <result property="strand" column="strand"/>
    <result property="fmin" column="fmin"/>
    <result property="fmax" column="fmax"/>
    <result property="parent" column="parent"/>
    <result property="parentRelationshipType" column="parent_relationship_type"/>
    <result property="fmin_partial" column="is_fmin_partial"/>
    <result property="fmax_partial" column="is_fmax_partial"/>
    
    <association property="type" javaType="org.genedb.crawl.model.Cvterm">
        <result property="name" column="type"/>
    </association>
    
  </resultMap>
  
  <select id="sequence" resultType="String">
        SELECT residues as dna FROM feature WHERE feature_id = (select feature_id from feature where uniqueName = #{region} )
  </select>
  
  <sql id="topleveltype"> select cvterm_id from cvterm join cv using (cv_id) where cv.name = 'genedb_misc' and cvterm.name = 'top_level_seq' </sql> 
  
  <select id="inorganism" resultMap="inorganism">
        select f.uniquename, c.name as type 
        from feature f
		join featureprop using (feature_id)
		join cvterm c on f.type_id = c.cvterm_id
		where f.organism_id = #{organismid}
		  and featureprop.type_id = (<include refid="topleveltype"/>)
		
		<if test="type != null">
          and c.name = #{type} 
        </if>
        
        order by f.uniqueName
		
		<if test="limit != null">
		  LIMIT #{limit} 
		</if>
		<if test="offset != null">
		  OFFSET #{offset}
		</if>
			
  </select>
  
  <resultMap type="org.genedb.crawl.model.Feature" id="inorganism">
        <result property="uniqueName" column="uniqueName" />
        <association property="type" javaType="org.genedb.crawl.model.Cvterm">
            <result property="name" column="type" />
        </association>
    </resultMap>
  
  <select id="typesInOrganism" resultType="org.genedb.crawl.model.Cvterm">
        select distinct (c.name ) 
        from feature f
        join featureprop using (feature_id)
        join cvterm c on f.type_id = c.cvterm_id
        where f.organism_id = #{organismid}
            and featureprop.type_id = (<include refid="topleveltype"/>)
        
  </select>
  
</mapper> 
